<% provide(:title, "Стоимость услуг") %>
<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <dl id="accordion" class="ident-bot-34">
      <dt class="active border-none"><strong class="s">Слухоулучшающие и слухосохраняющие операции</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th>№</th>
                <th>Медицинская услуга</th>
                <th>Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter">А-1</td>
                <td>Иссечение парааурикулярного свища</td>
                <td class="tdcenter">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-2</td>
                <td>Иссечение рубцовой атрезии наружного слухового прохода, его пластика</td>
                <td class="tdcenter">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-3</td>
                <td>Лазерная тимпаностомия</td>
                <td class="tdcenter">8 200</td>
              </tr>
              <tr>
                <td class="tdcenter">А-4</td>
                <td>Лазерная тимпаностомия с использованием титанового шунта</td>
                <td class="tdcenter">12 500</td>
              </tr>
              <tr>
                <td class="tdcenter">А-5</td>
                <td>Санирующая операция на среднем ухе с тимпанопластикой</td>
                <td class="tdcenter">45 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-6</td>
                <td>Поршневая стапедопластика (отосклероз)</td>
                <td class="tdcenter">37 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-7</td>
                <td>Раздельная аттикоантротомия с тимпанопластикой</td>
                <td class="tdcenter">57 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-8</td>
                <td>Реоперация на среднем ухе</td>
                <td class="tdcenter">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-9</td>
                <td>Лазерная коагуляция неэпителизированных участков полости после РО (1 сторона)</td>
                <td class="tdcenter">4 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-10</td>
                <td>Лазерная тимпаностомия (два уха)</td>
                <td class="tdcenter">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter">А-11</td>
                <td>Удаление новообразования слухового прохода</td>
                <td class="tdcenter">24 000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
      <dt><strong class="s">Современный дизайн</strong></dt>
      <dd>
        <div class="indent">
          Красивые округлые формы идеально впишутся в любой интерьер!
        </div>
      </dd>
      <dt><strong class="s">Простой монтаж</strong></dt>
      <dd>
        <div class="indent">
          Универсальность крепления — существуют настенные инфракрасные обогреватели и  потолочные. Использовать данные отопительные приборы можно вне зависимости от планировки помещения. Более того, отдавая им предпочтение можно сэкономить полезное пространство, а если в доме есть маленькие дети, то потолочные ИК обогреватели — это еще и самый безопасный вариант отопительных приборов.
        </div>
      </dd>
      <dt><strong class="s">Высокоточный алюминиевый корпус</strong></dt>
      <dd>
        <div class="indent">
          Корпус изготовлен из высокоточного алюминиевого профиля, снижение массы на 30%.В результате использования современных конструкционных материалов удалось уменьшить толщину прибора до 3 см.Красивые округлые формы красиво впишутся в любой интерьер!
        </div>
      </dd>
      <dt><strong class="s">Эффективный угол рассеивания</strong></dt>
      <dd>
        <div class="indent">
          Тепловой поток от приборов, расположенных на потолке, направлен вниз помещения и без потерь достигает поверхностей пола и других предметов, которые в свою очередь отдают тепло воздуху.
        </div>
      </dd>
    </dl>
  </div> 

  <div class="col-md-12 col-sm-12 col-xs-12">
    
  </div> 

</div>