<% provide(:title, "Стоимость услуг") %>
<div class="container">
<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <dl id="accordion" class="ident-bot-34">
      
      <dt class="active border-none"><strong class="s">Слухоулучшающие и слухосохраняющие операции</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">А-1</td>
                <td class="tdspan">Иссечение парааурикулярного свища</td>
                <td class="tdcenter tdspanp">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-2</td>
                <td class="tdspan">Иссечение рубцовой атрезии наружного слухового прохода, его пластика</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-3</td>
                <td class="tdspan">Лазерная тимпаностомия</td>
                <td class="tdcenter tdspanp">8 200</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-4</td>
                <td class="tdspan">Лазерная тимпаностомия с использованием титанового шунта</td>
                <td class="tdcenter tdspanp">12 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-5</td>
                <td class="tdspan">Санирующая операция на среднем ухе с тимпанопластикой</td>
                <td class="tdcenter tdspanp">45 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-6</td>
                <td class="tdspan">Поршневая стапедопластика (отосклероз)</td>
                <td class="tdcenter tdspanp">37 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-7</td>
                <td class="tdspan">Раздельная аттикоантротомия с тимпанопластикой</td>
                <td class="tdcenter tdspanp">57 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-8</td>
                <td class="tdspan">Реоперация на среднем ухе</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-9</td>
                <td class="tdspan">Лазерная коагуляция неэпителизированных участков полости после РО (1 сторона)</td>
                <td class="tdcenter tdspanp">4 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-10</td>
                <td class="tdspan">Лазерная тимпаностомия (два уха)</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-11</td>
                <td class="tdspan">Удаление новообразования слухового прохода</td>
                <td class="tdcenter tdspanp">24 000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
      
      <dt class="border-none"><strong class="s">Пластические операции на носу и ушах</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">Б-1</td>
                <td class="tdspan">Пластика ушных раковин (одно ухо)</td>
                <td class="tdcenter tdspanp">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-2</td>
                <td class="tdspan">Пластика ушных раковин (оба уха)</td>
                <td class="tdcenter tdspanp">37 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-3</td>
                <td class="tdspan">Удаление келоидного рубца ушной раковины</td>
                <td class="tdcenter tdspanp">16 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-4</td>
                <td class="tdspan">Пластика мочки ушной раковины (одно ухо)</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-5</td>
                <td class="tdspan">Пластика мочки ушной раковины (оба уха)</td>
                <td class="tdcenter tdspanp">20 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-6</td>
                <td class="tdspan">Удаление горбинки носа без остеотомии</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-7</td>
                <td class="tdspan">Удаление горбинки носа с остеотомией</td>
                <td class="tdcenter tdspanp">40 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-8</td>
                <td class="tdspan">Редрессация костей носа без остеотомии</td>
                <td class="tdcenter tdspanp">26 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-9</td>
                <td class="tdspan">Редрессация костей носа с остеотомией</td>
                <td class="tdcenter tdspanp">40 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-10</td>
                <td class="tdspan">Коррекция кончика носа открытым доступом</td>
                <td class="tdcenter tdspanp">45 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-11</td>
                <td class="tdspan">Реконструктивная ринопластика</td>
                <td class="tdcenter tdspanp">57 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-12</td>
                <td class="tdspan">Полная коррекция носа</td>
                <td class="tdcenter tdspanp">78 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-13</td>
                <td class="tdspan">Взятие реберного хряща для трансплантации</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-14</td>
                <td class="tdspan">Удаление ринофимы</td>
                <td class="tdcenter tdspanp">20 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-15</td>
                <td class="tdspan">Замещение дефектов головы и шеи конструкциями из титана</td>
                <td class="tdcenter tdspanp">51 900</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-16</td>
                <td class="tdspan">Установка силиконового имплантата</td>
                <td class="tdcenter tdspanp">6 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-17</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (одно ухо), этап 1: установка имплантата</td>
                <td class="tdcenter tdspanp">240 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-18</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (одно ухо), этап 2: моделирование наружного уха</td>
                <td class="tdcenter tdspanp">54 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-19</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (два уха), этап 1: установка имплантата</td>
                <td class="tdcenter tdspanp">350 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-20</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (два уха), этап 2: моделирование наружного уха</td>
                <td class="tdcenter tdspanp">74 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-21</td>
                <td class="tdspan">Изготовление силиконовых протезов без имплантов</td>
                <td class="tdcenter tdspanp">30 000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>



    </dl>
  </div> 

  <div class="col-md-12 col-sm-12 col-xs-12">
    
  </div> 

</div>
</div>