<div class="jumbotron">
  
  <h1>«ЛОР КЛИНИКА» Краснодар - медицина высоких технологий</h1>
  
    <div class="col-md-6 col-sm-6 col-xs-12">      
      <h2><%= image_tag "64spiegel.png", style: "max-width:50px" %> Отделение оториноларингологии</h2>
      <h2><%= image_tag "plastic_surg.png", style: "max-width:43px" %> Отделение пластической хирургии</h2>
    </div> 
    <div class="col-md-6 col-sm-6 col-xs-12">        
      <h2 style="margin-bottom:8px;margin-top:8px;"><%= image_tag "phone.png" %> (861) 268-87-00, 268-78-73</h2>
      <h2><%= image_tag "marker_boll.png", size: "40x40" %>г. Краснодар, ул. Захарова, 59</h2>
    </div>
  

  <div class="border1">
    <div class="clear"></div>
  </div>
  
  
    <div class="col-md-4 col-sm-12 col-xs-12">      
      <h3>Приём ведут:</h3>
      <ul class="mhul">
        <li><span class="glyphicon glyphicon-ok-sign"></span> врачи высшей категории</li>
        <li><span class="glyphicon glyphicon-ok-sign"></span> кандидаты медицинских наук</li>
        <li><span class="glyphicon glyphicon-ok-sign"></span> доценты</li>
        <li><span class="glyphicon glyphicon-ok-sign"></span> профессор</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">      
      <h3>Функционирует аудиометрический кабинет (3 врача сурдолога)</h3>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <h3>Время приёма:</h3>
      <ul class="mhul">
        <li><span class="glyphicon glyphicon-time"></span> <b>рабочие дни</b> - с 8.00 до 19.00</li>
        <li><span class="glyphicon glyphicon-time"></span> <b>суббота</b> - с 8.00 до 13.00</li>
      </ul>
    </div>
 
  
</div>

<div class="border1">
  <div class="clear"></div>
</div>

<div class="intro-marketing">
  <div class="container">    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="cental">Предоставляемые услуги</h2>
      </div>
      
      <div class="col-md-4 col-sm-6 col-xs-12">     
        
          <h3>Слуховые аппараты</h3>
          <ul class="mhul1">
            <li><span class="glyphicon glyphicon-ok"></span> <span>консультации высококвалифицированных специалистов по вопросам слухопротезирования</span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span>полное аудиологическое обследование детей и взрослых</span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span>подбор слуховых аппаратов, регулировка СА на компьютере</span></li>
          </ul>
          <p style="text-align:center;"><a role="button" href="#" class="btn btn-clear">Подробнее</a></p>
        
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">      
        
          <h3>Круговая подтяжка лица (Лифтинг)</h3>
          <p><span>Подтяжка лица сегодня уже не является некой диковинкой, как это было совсем недавно. Как и другие пластические процедуры, она доступна всем, желающим сохранить свой внешний вид неизмененным в течение многих лет. Современные методики позволяют нашим пациентам выглядеть более естественно, так как они выглядели 5-10 лет назад.</span></p>
          <p style="text-align:center;"><a role="button" href="#" class="btn btn-clear">Подробнее</a></p>
        
      </div> 
      <div class="col-md-4 col-sm-6 col-xs-12">      
        
          <h3>Корекция формы носа (Ринопластика)</h3>
          <p><span>Пластикой носа в ЛОР КЛИНИКЕ занимаются в течение десятилетий.</span></p>
          <p><span>Залогом успеха является сочетание глубоких знаний в области теории пластической хирургии и накапливаемый с годами опыт, что позволяет получить предсказуемые результаты.</span></p>
          <p style="text-align:center;"><a role="button" href="#" class="btn btn-clear">Подробнее</a></p>
        
      </div>
    </div>
  </div>
</div>
